*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.base{
    width: 100%;
    height: 100vh;
    background-color: #15202B;
    position: center;
}

.bemvindo{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #8899A6;
}

.bemvindo h1{
    font-size: 72px;
    margin-top: 80px;
}

.a a{
    font-size: 16px;
    text-align: center;
    color: #8899A6;
    text-decoration: none;
    font-weight: bold;
}

button{
    width: 100px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 30px;
    border: 2px solid #FFFF;
    background: transparent;
    cursor: pointer;
}